/node_modules/

# this folder is for the automation reports
/reports/

# this folder is for the performance automation result
!/e2ePerfResults/
/e2ePerfResults/*

# this folder is for by tc service
/.by-tc/

# this folder is for by test result
/.test-result/

/CurrentVersion.txt

/.nyc_output/

/coverage/**/cline_mcp_settings.json

# Cursor/Claude-dev settings
**/cursor/
**/claude-dev/
**/.cursor/
**/globalStorage/saoudrizwan.claude-dev/

**/.vscode/
.vscode/launch.json
