registry=https://jfrog.internal.microstrategy.com/artifactory/api/npm/mstr-npm-ci-virtual/
//jfrog.internal.microstrategy.com/artifactory/api/npm/mstr-npm-ci-virtual/:_authToken=${JFROG_TOKEN}
always-auth=true

# The following lines are to instruct the update-chromedriver script to install a specific version of chromedriver binary
# see https://github.com/giggio/node-chromedriver for more details
detect_chromedriver_version=true
# chromedriver_version=LATEST_110

# Supply Chain Protection
chromedriver_cdnurl=https://googlechromelabs.github.io
chromedriver_cdnbinariesurl=https://storage.googleapis.com/chrome-for-testing-public/