WEB_JENKINS_URL=http://tec-l-1081462.labs.microstrategy.com:8080/
WEB_JENKINS_USER=<user>
WEB_JENKINS_API_TOKEN=<token>

ANDROID_JENKINS_URL=http://ci-master.labs.microstrategy.com:8011/
ANDROID_JENKINS_USER=<user>
ANDROID_JENKINS_TOKEN=<token>



OPENAI_API_KEY=<OPENAI_API_KEY>
OPENAI_BASE_URL=<OPENAI_BASE_URL>


CONFLUENCE_SERVER=<CONFLUENCE_SERVER>
JIRA_SERVER=<JIRA_SERVER>
JIRA_EMAIL=<JIRA_EMAIL>
JIRA_API_TOKEN=<JIRA_API_TOKEN>